a:not(header div .gnb li a, #title .wrap .intro span a):hover {
  transform: scale(1.1);
  transition: .5s;
}
body{
  background-color: black;
}
body, header{
  position: relative;
  box-sizing: border-box;
}
header, #title, #aboutme, #projects, #contact{
  background-color: whitesmoke;
}
/* 상단영역 */
header{
  width: 100%;
  top: 0;
  z-index: 9;
}
header div nav h1 {
  display: flex;
  overflow: hidden;
}
header .logo {
  background-image: url(../img/logoblack.png);  
}
header div nav .gnb {
  box-sizing: border-box;
  width: 295px;
  height: 40px;
  justify-content: center;
  background-color: #ffffffbf;
  border-radius: 20px;
  position: fixed;
  right: 40.5vw;
  align-items: center;
}
header div nav .gnb li {
 position: relative;
 width: 100%;
 height: 100%;
}
header div .gnb li a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 500; 
  width: 100%;
  height: 100%;
}
header div .gnb li a:hover{
  background-color: black;
  color: white;
  /*! transform: scale(0); */
  /*! transition: 0s; */
}
header div .gnb li:nth-child(1) a:hover{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
header div .gnb li:nth-child(3) a:hover{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
header div nav .gnb li.contact span{
  display: none; 
}
header div nav .rgnb{
  text-indent: -9999px;
  overflow: hidden;
  justify-content: right;
  width: 100%;
}
header div nav .rgnb a{
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: bottom;
  width: 14px;
  height: 18px;
  padding-right: 29px;
}
header div nav .rgnb a:nth-of-type(1){
  background-image: url(../img/in.png);
}
header div nav .rgnb a:nth-of-type(2){
  background-image: url(../img/email2.png);
}
/*버거*/
.hamburger{
  display: none; 
  }
  .burgeroption{
  position: absolute;
  top: 59px;
  background-color: #d3d3d2;
  right: 40px !important;
   visibility: hidden
  }
  .nav-item{
    list-style: none;
  }
  .nav-link{
    color: purple; 
    text-decoration: none;
  }
  .nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    display: none;
  }
  .nav-link{
    transition: 0.7s ease;
  }
  .nav-link:hover{
    color: dodgerblue;
  }
  .hamburger{
    display: none;
    cursor: pointer;
  }
  .bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    background-color: black;
  }
/* 타이틀영역 */
#title{
  height: 86vh;
  display: flex;
  justify-content: center;
  position: relative;
}
#title::after{
  content: "▼";
  width: 50px;
  height: 50px;
  font-size: 14px;
  text-transform: capitalize;
  line-height: 1.4;
  background-color: #cfcccc;
  opacity: .8;
  color: black;
  position: absolute;
  right: 1vw;
  bottom: 0.8vw;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  animation-name:scroll;
  animation-duration:1s;
  animation-iteration-count: infinite;
  animation-direction:alternate;
  animation-timing-function: ease-in-out;
}
@keyframes scroll{
  100%{
    transform:translateY(40%);
  }
}
#title .wrap{
  color: #000;
  font-weight: 500;
  display: flex;
  position: relative;
  height: 90vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-bottom: 4vw;
}
#title .wrap .intro{
  height: 29vw;
  width: 36vw;
  margin-right: 10px;
  align-content: center;
  animation-name: titleTextUp;
  animation-duration: 1.5s;
}
#title .wrap .introimg{
  width: 25vw;
  height: 25vw;
}
#title .wrap .introimg figcaption{
 display: none; 
}
#title .wrap .introimg figure{
  width: 100%;
  height: 100%;
  background-image: url(../img/titleimg.png);
  background-size: cover; 
  background-position: center;
  animation-name: titleSlideIn;
  animation-duration: 2s;
}
 @keyframes titleSlideIn {
  0%{
    transform: translateX(100%);
    opacity: 0;
  }
  100%{
    transform: translateX(0%);
    opacity: 1;
  }
}
#title .wrap .introimg figure:hover{
  transition: 1s;
  transform: scale(1.3);
}

#title .updatetime{
  display: flex;
  position: absolute;
  left: 0;
  bottom: 3vw;
  font-size: 12px;
}
#title .updatetime .sm11{
  
}
/*텍스트 애니 테스트*/
#title .wrap .introAni{

}
#title .wrap .introAni h2{
  font-size: 75px; 
  font-weight: 700;
}
#title .wrap .introAni .one{
  color: #eb6328;
}
#title .wrap .introAni .two{
  color: #fcc9d1;
}
#title .wrap .introAni .three{
  color: #3ecbc8;
}
@keyframes titleTextUp{
  0%{
    transform: translateY(50%);
    opacity: 0;
  }
  100%{
    transform: translateY(0%);
    opacity: 1;
  }
}
#title .wrap .myphotoAni{
  background-color: #ffffff4f;
  animation-name: obj;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
  animation-fill-mode: both;
  height: 29vw;
  width: 35vw;
  border-radius: 50%;
}
 @keyframes obj {
  0%{
    transform: translateX(100%);
    opacity: 0;
  }
  100%{
    transform: translateX(0%);
    opacity: 1;
  }
}
#title div.intro ul .h1{
  font-weight: 700;
  opacity: 1;
  font-size: 80px;
  animation-name: titleTextUp;
  animation-duration: 1s;
  padding-bottom: 13px;
  padding-top: 20px;
  color: #ff6c00;
}
#title div.intro ul .h2{
  font-weight: 700;opacity: 1;font-size: 69px;animation-name: titleTextUp;animation-duration: 2.5s;
}
#title div.intro ul p.two{
  padding-top: 1vw;
  font-size: 17px;
}
#title .wrap .sm15{
 padding-top: 38px;
}
#title .wrap .self{
  font-size: 46px;
  font-weight: 700;
  border-bottom: 1px solid black;
  width: 20vw;
  animation-name: titleTextUp;
  animation-duration: 4s;
  margin-bottom: 10px;
}
.intro div p:nth-child(2){
  line-height: 1.2;
  color: #242424;
}
#title .wrap .intro > div{
  padding-top: 2.5vw;
  padding-bottom: 37px;
}
#title .wrap .intro span{
  display: flex;
  column-gap: 20px;
  padding-left: 20px;
}
#title .wrap .intro span a{
  padding: 5px;
  width: 6vw;
  height: 1.3vw;
  color: #000000d4;
  line-height: 1.5;
  border-radius: 145px;
  text-align: center;
  background-color: white;
}
#title .wrap .intro span a:nth-of-type(1){
  background-color: #2a2929;
  color: white;
}
#title .wrap .intro span a:nth-of-type(1):hover{
  background-color: #fff;
  color: black;
}
#title .wrap .intro span a:nth-of-type(2):hover{
  background-color: black;
  color: white;
}
#title img{
  display: none; 
}
#title .wrap p li{
  animation-name: bounce;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-direction: reverse;
}
@keyframes bounce{
  0%{
    transform: translateY(0%) scale(0.5) rotateY(45deg);
  }
  100%{
    transform: translateY(100%) scale(0.5) rotateY(45deg);
  }
}
#title .wrap li{
  display: flex;
  column-gap: 30px;
  padding-left: 30px;
}
main {
  
}
/* 어바웃 */
#aboutme {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  padding-top: 4vw;
  padding-bottom: 4vw;
}
#aboutme .grid {
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto 100px;
  margin: 0 auto;

  border-radius: 76px;
  align-items: center;
  justify-items: center;
  padding: 4vw;
}
#aboutme .grid:hover {
  border: 1px solid black;
  border-radius: 76px;
  transform: scale(0.9);
  transition: .4s;
}
#aboutme .wrap .myphotoAni{
  grid-column: 1;
  grid-row: 2;
  width: 306px;
  height: 386px;
  overflow: hidden;
  transform: translateY(14px);
  border-radius: 0 44px;
  margin-right: 38px;
}
.myphotoAni:hover {
  transition: 1s;
  transform: scale(1.4);
}

#aboutme .wrap h4 {
  grid-column: 1 / span 2;
  grid-row: 1;
}
#aboutme .wrap .photoAni figure{
  grid-column: 2;
  grid-row: 2 / span 2;
  /*! perspective: 300px; */
}

#aboutme .wrap .photoAni figure img{
  background-image: url(../img/me3.jpg;);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
} 
#aboutme .wrap .photoAni figure figcaption{
  display: none;
}
#aboutme .wrap .intro {
  grid-column: 2;
  grid-row: 2;
  line-height: 1.6;
}
#aboutme .wrap .intro .myself li{
  display: flex;
  margin-bottom:20px; 
  gap: 10px;
}
#aboutme .wrap .intro .sm14 span{
  display: flex;
}
#aboutme .wrap .intro .sm14 span p:nth-child(odd){
  color: #black;
}
#aboutme .wrap .intro .sm14 span p:nth-child(even){
  color: #black;
}
#aboutme .wrap .info {
  grid-column: 2 / span 2;
  grid-row: 3;
  width: 100%;
  display: flex;
  height: 45%;
}
#aboutme .wrap .info li{
  width: calc(100vw / 3);
  height: 30px;
  display: flex;
  vertical-align: middle;
  border-radius: 50%;
  margin-right: 10px;
}
#aboutme .wrap .info li:nth-child(1) strong {
  background-image: url(../img/email.png);
}
#aboutme .wrap .info li:nth-child(2){
  grid-column: 2;
}
#aboutme .wrap .info li:nth-child(2) strong{
  background-image: url(../img/phone.png);

}
#aboutme .wrap .info li:last-child{
  grid-column: 3;
}
#aboutme .wrap .info li strong{
  width: 35px;
  height: 35px;
  background-position: center;
  background-size: cover;
  transform: translateX(-2.5px) translateY(-10px);
  margin-right: 4px;
}
#aboutme .wrap .info li:last-child strong{
  background-image: url(../img/github.png);
}
/* 포트폴리오 */
#projects {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 4vw;
  padding-bottom: 4vw;
  width: 100%;
  height: 100%;
}
#projects .wrap {
  flex-direction: column;
  row-gap: 26px;
  overflow: hidden;
}
#projects .wrap h4 {
  padding-bottom: 1.7vw;
}
#projects .wrap p {
  margin-bottom: 60px;
  line-height: 1.6;
  color: #222222d6;
}

#projects .wrap .list {
  width: 100%;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  column-gap: 1.2vw;
  row-gap: 1.2vw;
}
#projects .wrap .list>li {
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  align-items: center;
  border-radius: 32px;
  border: 1px solid transparent;
  padding: 1.2vw;
  justify-content: center;
}
#projects .wrap .list > li:hover{
  transform: scale(0.95);
  transition: .3s;
}
#projects .wrap .list>li:nth-child(1){
  background-color: #ffe1d1d4;
  grid-column: 1;
  min-width: 38%;
  height: 32em;
}
#projects .wrap .list>li:nth-child(2){
  background-color: #eddde4cf;
  grid-column: 2;
  min-width: 38%;
  height: 32em;
}
#projects .wrap .list>li:nth-child(3){
  background-color: #ffe3a1d6;
  grid-column: 1 / span 2;
  grid-row: 2;
  height: 32em;
  margin-bottom: 60px;
}
#projects .wrap .list>li h3 {
  grid-column: 2;
  grid-row: 1;
}
#projects .wrap .list div {
  display: flex;
  flex-direction: column;
  align-items: center; 
  grid-column: 1 / span 2;
  grid-row: 3;
}
#projects .wrap .list div li{  
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto 1fr auto;
}
#projects .wrap .list li h3{
  grid-column: 2;
  grid-row: 1;
  justify-self: left;
  font-size: 25px;
}
#projects .wrap .list li figure {
  position: relative;
  perspective: 702px;
  grid-row: 1 / span 2;
  display: flex;
  justify-content: center;
  backface-visibility: hidden;
  animation-name: slide;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-direction: reverse;
  transform: rotateY(0deg);
  transform: translateX(-1vw);
}
#projects .wrap .list li figure img {
  transform: translateX(-1px);
  width: 100%;
  height: 100%;
  max-width: 716px;
}
@keyframes  slide{
  100%{
    transform: rotateY(190deg);
  }
}
#projects .wrap .list li figure figcaption {
  display: none;
}
#projects .wrap .list li figure::after{
  content:"";
  width: 84px;
  height: 100%;
  display: block;
  position: absolute;
  right: 9px;
  bottom: -51px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#projects .wrap .list li:nth-child(1) figure::after{
  background-image: url(../img/pf1-phone.png);
}
#projects .wrap .list li:nth-child(2) figure::after{
  background-image: url(../img/pf1-phone.png);
}
#projects .wrap .list li:nth-child(3) figure::after{
  background-image: url(../img/pf1-phone.png);
}
#projects .wrap .list li .sub {
  grid-column: 2;
  grid-row: 2;
}
#projects .wrap .list li .sub>li {
  line-height: 1.8;
  color: #3c3c3c;
  margin-top 0px;
  font-size: 1em;
}
#projects .wrap .list li .sub > li:nth-of-type(6){
  margin-top: 1.5vw;
}
#projects .wrap .list li .sub li.work{
  display: flex;
}
#projects .wrap .list li .sub li strong {
  width: 110px;
  display: inline-block;
  color: #3c3c3c;;
}
#projects .wrap .list li .sub li ul {
 
}
#projects .wrap .list li .sub li ul li {
 letter-spacing: 0.3px;
}
#projects .wrap .list li .sub li a {
  z-index: 99;
  transition: 0.5s;
  background-color: white;
  margin-right: 23px;
  padding: 8px;
  border-radius: 10px;
  line-height: 1.6;
  padding-right: 12px;
}
#projects .wrap .list li .sub li a:first-child{
  margin-right:20px;
}
#projects .wrap .list li .sub li a::before{
  content: "";
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: -1px;
  background-size: contain;
  margin-left: 4px;
  transition: 0.3s;
  background-image: url(../img/view-black.svg);
}
/* 프로세스 */
#process{
 height:100%;
 display: flex;
 align-items: center;
 min-height: 700px;
 position: relative;
}

#process .wrap{
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto 1fr 1fr;
  column-gap: 43px;
}
#process .wrap h2{
  justify-self: center;
  grid-column: 1 / span 2;
}

#process .wrap p{
  grid-column: 1 / span 2;
  grid-row: 2;
  justify-self: center;
  line-height: 3;
}
#process .wrap h3{
  grid-column: 1;
  grid-row: 3;
}
#process .wrap ul{
  grid-column: 2;
  grid-row: 3 / span 2;
  flex-wrap: wrap;
  gap: 10px;
}
#process .wrap ul li{
  width: calc((100% - 40px) / 5);
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  line-height: 1.3;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}
#process .wrap a{
  grid-column: 1;
  grid-row: 4;
  display: block;
  block-size: fit-content;
  width: fit-content;
  padding: 15px;
  background-color: #eee;
  border-radius: 9px;
  background-color: #d0fb6fe0;
  border: 1px solid var(--black);
}
/* 컨텍 */
#contact{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 6vw;
  border-radius: 0 0 36px 36px;
}
#contact .container{
  max-width: 342px;
  flex-direction: column;
  height: 90%;
}
#contact .container .form{
  margin-bottom: 2.5vw;
  text-align: center;
  border-bottom: 1px solid black;
  width: 150px;
  padding-bottom: 7px;
}
#contact .container > p{
  margin-bottom: 3.3vw;
  font-size: 18px;
}
#contact .container > form{
  text-align: left;
}
#contact .container .send{
  margin-top: 2.5vw;
}
#contact .container .send:hover{
  transform: scale(1.1);
  transition: .2s;
}
 /* Style inputs with type="text", select elements and textareas */
 input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  height: 35px;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  color: #3ecbc8;
}

/* 하단 */
footer {
  height: 50vh;
  min-height: 350px;
  color: white;
}
footer .logo{
  background-image: url(../img/logowhite.png);
  animation: none;
}
footer a{
  color: white;
}
footer a:hover{
  color: #3ecbc8;
}
footer a:hover{
  color: 
}
footer div {
  height: 100%;
  grid-template-columns: 1fr auto;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
}
footer div h1{
  grid-column: 1;
  grid-row: 1;
  overflow: hidden;
  width: fit-content;
}
footer div .sns, .email, .phone{
  display: flex;
  justify-content: right; 
}
footer div .sns {
  grid-column: 2;
  grid-row: 1;
  column-gap: 1vw;
}
footer div .fnb {
  grid-column: 1;
  grid-row: 2;
  column-gap: 1vw;
}
footer div .fnb li {
  
}
footer div .fnb li a {

}
footer div .myinfo{

}
footer div .email{
  grid-column: 2;
  grid-row: 3;
}
footer div .phone{
  grid-column: 2;
  grid-row: 2;
}
footer div p {
  grid-column: 1;
  grid-row: 3;
}
/*마우스 이펙트*/
.cursor{
  position: fixed;
  width: 35px;
  height: 35px;
  background-color: #cfcccc;
  opacity: .4;
  border-radius: 50%;
  left: 0;
  right: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: .4s;
  z-index: 999;
}
.cursor2{
  position: fixed;
  width: 13px;
  height: 13px;
  background-color: black;
  opacity: .8;
  border-radius: 50%;
  left: 0;
  right: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: .2s;
  z-index: 999;
}
/*스크롤 다운 효과*/
.image{
  opacity: 0; 
}